// colors

$charcoal: #3c3c3c;
$darkgrey: #797979;
$grey: #e9ebee;
$lightgrey: #f3f3f3;
$blue: #0f6ba5;
$dark-blue: #083c5d;
$green: #4e6c43;

// component specific

$listbg: #cccccc;
$cardbg: #fefefe;

// media

$break-med: 768px;
